<header>
  <nav [ngStyle]="{'background': navBg, 'opacity': navOpacity}">
    <!-- logo -->
    <div class="logo-wrap">
      <a routerLink="" [ngStyle]="{'color': navFontColor}" class="sl-logo">
        <img src="./assets/img/header/logo.png" alt="" class="logo" [ngStyle]="{'filter': 'invert('+logoinvert+')'}" />
        Remoted
        <br />
        Beauty
      </a>
    </div>

    <!-- desktop menu middle -->
    <div class="desktop-menu">
      <ul>
        <li><a routerLink="/testimonials" class="nav__item" [ngStyle]="{'color': navFontColor}">Testimonials</a></li>
        <li>
          <a href="/#customers" class="nav__item" [ngStyle]="{'color': navFontColor}">Customers</a>
        </li>
      </ul>
    </div>

    <!-- desktop menu right -->
    <div class="desktop-menu">
      <ul>
        <li><a routerLink="./about" [ngStyle]="{'color': navFontColor}">About</a></li>
        <li><a routerLink="./contact" [ngStyle]="{'color': navFontColor}">Contact</a></li>
      </ul>
    </div>

    <!-- toggle menu -->
    <div *ngIf="isMenuOpen" class="mobile-menu" [ngStyle]="{'background': navBg}">
      <ul>
        <li>
          <a routerLink="/testimonials" class="nav__item" [ngStyle]="{'color': navFontColor}"
            (click)="slCloseMenu()">Testimonials</a>
        </li>
        <li><a href="#customers" class="nav__item" [ngStyle]="{'color': navFontColor}"
            (click)="slCloseMenu()">Customers</a></li>
        <li><a routerLink="./about" [ngStyle]="{'color': navFontColor}" (click)="slCloseMenu()">About</a></li>
        <li><a routerLink="./contact" [ngStyle]="{'color': navFontColor}" (click)="slCloseMenu()">Contact</a></li>
        <!-- <i class=" fas" (click)="closeMenu()"><img src="/assets/img/header/x.svg" alt="" /></i> -->
      </ul>
    </div>
    <!-- hamburger button -->

    <button class="menu"
      onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'));"
      aria-label="Main Menu" (click)="toggleMenu()">
      <svg width="50" height="50" viewBox="0 0 100 100">
        <path class="line line1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          [ngStyle]="{'stroke': navFontColor}" />
        <path class="line line2" d="M 20,50 H 80" [ngStyle]="{'stroke': navFontColor}" />
        <path class="line line3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          [ngStyle]="{'stroke': navFontColor}" />
      </svg>
    </button>
    <!-- 
    <button (click)="toggleMenu()">
      <i class="fas"><img src="/assets/img/header/menu.svg" alt="" /> </i>
    </button> -->
  </nav>
</header>