@import '../../styles';

.hero {
  position: relative;
  .heroimg {
    width: 100%;
    margin-bottom: 10px;
    opacity: 70%;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.456);
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: lightgray;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .foto1 {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    // margin-bottom: 20px;
  }
  .foto2 {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    // margin-bottom: 20px;
  }
  .foto3 {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    // margin-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  .small-screen {
    grid-template-columns: 1fr;
  }
  .big-screen {
    display: none;
  }
}
@media screen and (min-width: 751px) {
  .big-screen {
    grid-template-columns: 1fr 1fr;
  }
  .small-screen {
    display: none;
  }
}
@media screen and (min-width: 1050px) {
  .big-screen {
    grid-template-columns: 1fr 1fr;
  }
  .small-screen {
    display: none;
  }
  p {
    font-size: 130%;
  }
  h4 {
    font-size: 130%;
  }
}