<div class="hero">
  <img class="heroimg" src="../../assets/img/about/bg5.jpg" alt="hero" />
  <div class="overlay"><h1 class="title">ABOUT US</h1></div>
</div>
<div class="grid-container small-screen">
  <div class="grid-item">
    <div class="align">
      <h4>Urban Explorer Photography</h4>
      <p>
        Welcome to the captivating world of Urban Explorer Photography, where
        every image tells a story of forgotten places and abandoned beauty. I am
        Lena Brugger, the creative eye behind the lens, on a mission to
        immortalize the echoes of history within decaying walls.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto3" src="../../assets/img/about/woman1.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div class="align">
      <h4>Our Vision</h4>
      <p>
        In the realm of forgotten tales, Urban Explorer Photography seeks to
        unveil the silent narratives concealed within derelict structures. Every
        shot is a testament to the passage of time, capturing the haunting
        allure of abandoned places that once thrived with life and purpose.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto3" src="../../assets/img/about/about2.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div class="align">
      <h4>The Artists Behind the Lens</h4>
      <p>
        As the architects of this visual journey, we blend a passion for
        storytelling with a keen appreciation for the aesthetic details found in
        decay. Armed with our cameras and an insatiable curiosity, we traverse
        forgotten landscapes, seeking the beauty that emerges from neglect.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto3" src="../../assets/img/about/team.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div>
      <h4>Unveiling Forgotten Chapters</h4>
      <p>
        Each photograph is a chapter in the untold story of these forsaken
        spaces. Whether it's the crumbling elegance of an abandoned mansion or
        the silent whispers of an industrial relic, my lens seeks to resurrect
        the forgotten, giving voice to the silence that echoes within these
        walls.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img
      class="foto3"
      src="../../assets/img/about/lost-places2.jpg"
      alt="img"
    />
  </div>
  <div class="grid-item">
    <div>
      <h4>Imaginary Histories</h4>
      <p>
        Beyond the concrete and steel, I weave imaginary histories to breathe
        life into the lifeless. What if these walls could speak? What tales
        would they tell? Through my lens, I invite you to join me in a journey
        of exploration and contemplation, where reality and imagination dance in
        a delicate balance.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto3" src="../../assets/img/about/about1.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div>
      <h4>Our Promise</h4>
      <p>
        Urban Explorer Photography is more than a collection of images; it's an
        exploration of the past, a celebration of impermanence, and an
        invitation to see the world through a different lens. Join us as we
        embark on a visual odyssey, capturing the beauty that emerges when time
        and nature reclaim the spaces we leave behind.
      </p>
      <p>
        Thank you for being part of this journey – where forgotten stories find
        a voice through the artistry of Urban Explorer Photography.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto3" src="../../assets/img/about/factory.jpg" alt="img" />
  </div>
</div>
<div class="grid-container big-screen">
  <div class="grid-item">
    <div class="align">
      <h4>Urban Explorer Photography</h4>
      <p>
        Welcome to the captivating world of Urban Explorer Photography, where
        every image tells a story of forgotten places and abandoned beauty. I am
        Lena Brugger, the creative eye behind the lens, on a mission to
        immortalize the echoes of history within decaying walls.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto1" src="../../assets/img/about/woman1.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <img class="foto2" src="../../assets/img/about/about2.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div class="align">
      <h4>Our Vision</h4>
      <p>
        In the realm of forgotten tales, Urban Explorer Photography seeks to
        unveil the silent narratives concealed within derelict structures. Every
        shot is a testament to the passage of time, capturing the haunting
        allure of abandoned places that once thrived with life and purpose.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <div class="align">
      <h4>The Artists Behind the Lens</h4>
      <p>
        As the architects of this visual journey, we blend a passion for
        storytelling with a keen appreciation for the aesthetic details found in
        decay. Armed with our cameras and an insatiable curiosity, we traverse
        forgotten landscapes, seeking the beauty that emerges from neglect.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto1" src="../../assets/img/about/people.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <img
      class="foto2"
      src="../../assets/img/about/lost-places2.jpg"
      alt="img"
    />
  </div>
  <div class="grid-item">
    <div>
      <h4>Unveiling Forgotten Chapters</h4>
      <p>
        Each photograph is a chapter in the untold story of these forsaken
        spaces. Whether it's the crumbling elegance of an abandoned mansion or
        the silent whispers of an industrial relic, my lens seeks to resurrect
        the forgotten, giving voice to the silence that echoes within these
        walls.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <div>
      <h4>Imaginary Histories</h4>
      <p>
        Beyond the concrete and steel, I weave imaginary histories to breathe
        life into the lifeless. What if these walls could speak? What tales
        would they tell? Through my lens, I invite you to join me in a journey
        of exploration and contemplation, where reality and imagination dance in
        a delicate balance.
      </p>
    </div>
  </div>
  <div class="grid-item">
    <img class="foto1" src="../../assets/img/about/about1.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <img class="foto2" src="../../assets/img/about/factory.jpg" alt="img" />
  </div>
  <div class="grid-item">
    <div>
      <h4>Our Promise</h4>
      <p>
        Urban Explorer Photography is a journey through time, celebrating
        impermanence and inviting you to see the world differently. Join us as
        we capture the beauty that emerges when nature reclaims abandoned
        spaces.
      </p>
    </div>
  </div>
</div>
