<div class="sl-costumers" id="customers">
  <h2>Costumers</h2>
  <div class="center">
    <div class="wrapper">
      <div class="inner" slidePage="0">
        <div class="card">
          <div class="img">
            <img src="./assets/img/customer/documentary1.jpg" />
          </div>
          <div class="content">
            <h1>Documentary Filmmakers</h1>
            <h3>Exploring Forgotten Worlds</h3>
            <p>
              Step into the captivating world of abandoned places through the
              lens of our documentary filmmaker, as we embark on a journey to
              uncover the hidden stories and forgotten beauty within these
              decaying landscapes. From dilapidated factories to deserted homes,
              each location holds a unique tale of human endeavor and resilience
              against the passage of time.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/historical2.jpg" /></div>
          <div class="content">
            <h1>Historical Preservation Organizations</h1>
            <h3>A Journey Through Time's Forgotten Corners</h3>
            <p>
              Immerse yourself in the silent narratives of forgotten history
              with our collection of evocative photographs. Each image serves as
              a window into the past, offering a glimpse of bygone eras and the
              architectural marvels left behind. From abandoned factories and
              derelict mansions to decaying theaters and forgotten landmarks,
              our photographs capture the beauty and poignancy of these
              neglected spaces.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/car.jpg" /></div>
          <div class="content">
            <h1>Publishers and Editorial Clients</h1>
            <h3>Forgotten Stories</h3>
            <p>
              In collaboration with publishers and editorial clients, we aim to
              showcase the evocative power of photography in capturing the
              essence of abandoned places. From dilapidated factories to
              derelict theaters, each location holds a unique narrative waiting
              to be told, a story of resilience, loss, and the passage of time.
              "Forgotten Stories" invites audiences to embark on a visual
              journey.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/gallery.jpg" /></div>
          <div class="content">
            <h1>Art Galleries and Exhibitions</h1>
            <h3>Decay and Discovery</h3>
            <p>
              Echoes of Abandonment: A Photography Exhibition" - Immerse
              yourself in the haunting beauty of decay. Each image unveils
              forgotten stories, inviting reflection on resilience and
              rediscovery. Join us in exploring the allure of abandoned places.
              Each image captures the silent echoes of forgotten stories and the
              enduring beauty found amidst decay.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/interior.jpg" /></div>
          <div class="content">
            <h1>Interior Designers</h1>
            <h3>Unique and intriguing touch</h3>
            <p>
              Enrich interiors with the captivating allure of abandoned beauty.
              Our photography collection evokes intrigue, infusing spaces with
              the raw emotion and timeless narrative found within forgotten
              places. Elevate design with the essence of decay and renewal. Our
              photography collection brings the allure of decay, sparking
              intrigue and conversation. Elevate interiors with the timeless
              allure of forgotten places.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/travel.jpg" /></div>
          <div class="content">
            <h1>Travel Companies</h1>
            <h3>Discover the Hidden Gems</h3>
            <p>
              Discover the hidden gems of abandoned beauty with our captivating
              photography collection. Unveil the allure of forgotten places,
              offering travelers a unique lens into history's untold stories.
              Explore the beauty in decay, a journey of intrigue. Explore the
              beauty in decay and uncover history's untold stories. An adventure
              for adventurous souls, offering a unique lens into abandoned
              beauty.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/model.jpg" /></div>
          <div class="content">
            <h1>Modeling Agencies</h1>
            <h3>Shoot a moment</h3>
            <p>
              Expand creative horizons by incorporating abandoned locations into
              fashion photography. Transforming forgotten spaces into dramatic
              backdrops, these shoots offer a striking contrast between the
              elegance of fashion and gritty beauty of urban decay. With the
              juxtaposition of glamorous models against the backdrop of derelict
              buildings, each photograph tells a story of contrast and leaving a
              lasting impression.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/repair.jpg" /></div>
          <div class="content">
            <h1>Real Estate Developers</h1>
            <h3>Save the antique</h3>
            <p>
              Utilize captivating imagery of abandoned places to explore
              potential redevelopment opportunities. By highlighting the beauty
              within decay and envisioning possibilities for revitalization,
              real estate developers can unlock the hidden potential of
              abandoned spaces, transforming them into vibrant communities and
              commercial ventures that contribute to urban renewal and
              revitalization efforts.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="img"><img src="./assets/img/customer/floor.jpg" /></div>
          <div class="content">
            <h1>Architectural Firms</h1>
            <h3>For our future</h3>
            <p>
              Embrace the allure of urban exploration photography to inspire
              innovative design solutions. By studying the structural
              complexities and design elements of abandoned places,
              architectural firms can glean insights into adaptive reuse,
              restoration, and renovation projects. These captivating images
              serve as a source of inspiration, sparking creativity and pushing
              the boundaries of architectural imagination.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="map">
      <button class="button sl-prev">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
        </div>
      </button>
      <button class="button sl-next">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
        </div>
      </button>
    </div>
  </div>
</div>